.row {
  display: flex;
}

.box {
  width: 60px;  /* 960px / 16 as given by requirements */
  height: 60px; /* 60px too since its a square */
  border: black;
  border-style: solid;
  opacity: 0.1;
}
